<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%logger{n} [%thread] %level : %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>log_warn.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%d{dd/MM/yyyy}  at: %d{HH:mm} %logger{n}   %level : %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="jdbc" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="run" level="TRACE" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="WARN">
		<appender-ref ref="FILE" />
	</root>
</configuration>